*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
  background-color: #7676cb;
  
}
.one{
    display: flex;
justify-content: center;
position: relative;
top: 200px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.two{
    position: relative;
    left: 200px;
    top: 200px;
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
}
.three{
    position: relative;
    left: 800px;
    top: 300px;
    padding: 15px;
    width: 200px;
    height: 20px;
    font-size: x-large;
    border: none;
}
.ul{
    list-style: none;
    text-decoration: none;
    padding: 10px;
   
    font-size: x-large;
    
}
.btn{
    position: relative;
    padding: 10px;
    background-color: rgb(215, 208, 208);
    cursor: pointer;
    left: 800px;
    top: 300px;
    
    
  
}

.ooo{
    padding: 8px;
    margin: 10px;
    cursor: pointer;
}
.moo{
    padding: 8px;
    margin: 8px;
    list-style: none;
    text-decoration: none;
}